body {
  margin: 0;
}

h1 {
    display: block;
    text-align: center;
    font-size: 50px;
    color: blue;
    margin: 0;
    padding: 20px 0 20px 0;
  }
  
h2 {
  display: block;
  text-align: center;
  font-size: 30px;
  color: purple;
  margin: 10px 0;
}

thead {
  width: 90%;
  margin: 5px auto;
}

th {
  text-align: center;
  font-weight: bold;
  border: 1px solid purple;
}

td {
  text-align: center;
  border: 1px solid purple;
}

tr {
  width: 90%;
  margin: 0 auto;
}
  
table {
  width: 100%;
}

.body {
  background-color: lightgrey;
  height: 100vh;
}

.table {
  width: 50%;
  margin: 0 auto;
  border: 3px solid purple;
}


